<footer class=" text-center text-white mt-10">
    <!-- Grid container -->
    <div class="container p-4 pb-0">

        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Content -->
    <div class=" card-group text-muted bg-dark ">
        <div class="card bg-dark">
            <div class="card-body">
                <h5 class="card-title" style="color: #fff">Social Media</h5>
                <section class="mb-4">
                    <!-- Facebook -->
                    <a href="" class="btn btn-primary btn-floating m-1" role="button" style="background-color: #3b5998">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <!-- Twitter -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="" role="button">
                        <i class="fab fa-twitter"></i>
                    </a>

                    <!-- Google -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button">
                        <i class="fab fa-google"></i>
                    </a>

                    <!-- Instagram -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button">
                        <i class="fab fa-instagram"></i>
                    </a>

                    <!-- Linkedin -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <!-- Github -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#!" role="button">
                        <i class="fab fa-github"></i>
                    </a>
                </section>
            </div>
        </div>
        <div class="card bg-dark">
            <div class="card-body" style="text-decoration: none; color:#fff;">
                <h5 class="card-title">Useful links</h5>
                <ul style="list-style: none;">
                    <li><a href="#" style="text-decoration: none; color:#fff">Trang Chủ</a></li>
                    <li><a href="#" style="text-decoration: none; color:#fff">Về Chúng Tôi</a></li>
                    <li><a href="#" style="text-decoration: none; color:#fff">Thông Tin Liên Lạc</a></li>
                    <li><a href="#" style="text-decoration: none; color:#fff">Dịch Vụ</a></li>
                    <li><a href="#" style="text-decoration: none; color:#fff"> Điều Kiện Chính Sách</a></li>
                </ul>
            </div>
        </div>
        <div class="card bg-dark">
            <div class="card-body " style="color:#fff">
                <h5>Thông Tin Liên Hệ</h5>
                <ul class="info" style="list-style: none;">
                    <li>
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>Đường Số 1<br />
                         Quận 1, Thành Phố Hồ Chí Minh<br />
                         Việt Nam</span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone"></i></span>
                        <p><a href="#" style="text-decoration: none; color:#fff">+84 123 456 789</a>
                            <br />
                            <a href="#" style="text-decoration: none; color:#fff">+84 987 654 321</a></p>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope"></i></span>
                        <p><a href="#" style="text-decoration: none; color:#fff">mienmien192@gmail.com</a></p>
                    </li>
                    <li>
                        <form class="form">
                            <input type="email" class="form__field" placeholder="Đăng Ký Subscribe Email" />
                            <button type="button" class="btn btn-outline-primary  uppercase">Gửi</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center bg-dark px-5 py-3">
        © 2021 Copyright:
        <a href="#">mienmien</a>
    </div>
    <!-- Copyright -->
</footer>